* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #0a4595;
  color: #fff;
  height: 50px;
  line-height: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}

nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav div h3 {
  margin: 0 2px;
  font-weight: 400;
  font-size: 1.7rem;
}

nav div img {
  margin: 0 2px;
  width: 30px;
  height: 30px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  list-style-type: none;
  padding: 0 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

nav ul li:hover {
  background-color: #072f65;
  cursor: pointer;
}

section {
  background-color: #eee;
  height: calc(100vh - 50px);
}

.center {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.matrix {
  display: block;
  width: 85%;
  padding: 20px;
  -webkit-box-shadow: 10px 10px 25px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 10px 10px 25px 5px rgba(0, 0, 0, 0.4);
  background-color: #fff;
}

.display-none {
  display: none;
}

.loader {
  text-align: center;
  color: #0a4595;
  font-size: 3rem;
}

.loader i {
  margin-right: 8px;
}

.rotate {
  -webkit-animation: rotate 2s linear infinite both;
          animation: rotate 2s linear infinite both;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.matrix-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
}

.matrix-header .field-name {
  border: none;
}

.matrix-header div:nth-child(8) {
  margin-right: 2%;
}

.header-item {
  width: 7%;
  text-align: center;
  padding: 10px 0;
}

.matrix-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.matrix-row div:nth-child(8) {
  margin-right: 2%;
}

.matrix-row:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.matrix-row:nth-of-type(1) div:nth-child(8) {
  margin-right: 2%;
}

.matrix-row:nth-of-type(1) .field-name {
  border-top: 1px solid #eee;
}

.criteria-item {
  width: 13%;
  text-align: center;
  padding: 10px 0;
}

.field-name {
  width: 20%;
  font-weight: 700;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.forecast-item {
  width: 7%;
  text-align: center;
  padding: 10px 0;
}

.green {
  background-color: rgba(97, 175, 95, 0.4);
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.yellow {
  background-color: #fff050;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.red {
  background-color: #f25c05;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */