* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #eee;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #0a4595;
  color: #fff;
  height: 50px;
  line-height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px;
}

nav #title-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 0;
}

nav #title-logo h3 {
  margin: 0 2px;
  font-weight: 400;
  font-size: 1.7rem;
}

nav #title-logo img {
  display: block;
  margin: 0 2px;
  width: 30px;
  height: 30px;
}

nav #nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav #nav-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

nav #nav-links ul li {
  list-style-type: none;
  padding: 0 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

nav #nav-links ul li:hover {
  background-color: #072f65;
  cursor: pointer;
}

section {
  position: relative;
  background-color: #eee;
  height: calc(100vh - 90px);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.matrix {
  display: block;
  width: 85%;
  padding: 20px;
  margin: 40px auto 0 auto;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.display-none {
  display: none;
}

.loader {
  text-align: center;
  color: #0a4595;
  font-size: 3rem;
}

.loader i {
  margin-right: 8px;
}

.rotate {
  -webkit-animation: rotate 2s linear infinite both;
          animation: rotate 2s linear infinite both;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.matrix-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
}

.matrix-header .field-name {
  border: none;
}

.matrix-header div:nth-child(8) {
  margin-right: 2%;
}

.header-item {
  width: 7%;
  text-align: center;
  padding: 10px 0;
}

.criteria-header-item {
  width: 13%;
  height: 40px;
  text-align: center;
}

.matrix-row {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.matrix-row div:nth-child(8) {
  margin-right: 2%;
}

.matrix-row:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.matrix-row:nth-of-type(1) div:nth-child(8) {
  margin-right: 2%;
}

.matrix-row:nth-of-type(1) .field-name {
  border-top: 1px solid #eee;
}

.criteria-item {
  width: 13%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.field-name {
  font-weight: 700;
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #eee;
}

.forecast-item {
  width: 7%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.green {
  background-color: rgba(97, 175, 95, 0.4);
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.yellow {
  background-color: #fff050;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.red {
  background-color: #f25c05;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  color: #fff;
}

.chart {
  height: 85%;
  width: 85%;
  padding: 20px;
  margin: 40px auto;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.25);
}

iframe {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.indent {
  margin-left: 25px;
}

#mainFlex {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#discussion {
  margin: 20px;
  max-width: 450px;
  min-width: 450px;
}

#TAFs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cardTAF {
  font-family: "Cutive Mono", monospace;
  margin: 20px;
  padding: 20px;
  background: #fff;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.25);
}

.cardTAF h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.cardTAF p {
  line-height: 1.2rem;
}

@media (min-width: 1550px) {
  .chart {
    width: 70%;
    height: 80%;
  }
  .matrix {
    width: 70%;
  }
}

@media (max-width: 1300px) {
  .matrix {
    width: 100%;
  }
  .chart {
    width: 100%;
    height: 80%;
  }
}

@media (max-width: 1050px) {
  body {
    font-size: 80%;
  }
  .matrix {
    padding: 0;
  }
  nav #title-logo h3 {
    font-size: 1.2rem;
  }
  nav #title-logo img {
    width: 23px;
    height: 23px;
  }
}
/*# sourceMappingURL=aviation-web.css.map */