// Global color scheme
$primary-blue: #0a4595;
$dark-gray: #333;
$med-gray: #bbb;
$light-gray: #eee;
$secondary-blue: #0099d8;
$green: rgba(97, 175, 95, 0.4);
$yellow: rgb(255, 240, 80);
$red: #f25c05;

// other variables
$box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.25);
$xl-screen-break: 1550px;
$l-screen-break: 1300px;
$md-screen-break: 1050px;

// mixins
@mixin flexCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin matrixBorder {
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Quicksand", sans-serif;
	background-color: $light-gray;
}

a {
	text-decoration: none;
	color: inherit;
}

nav {
	display: flex;
	background: $primary-blue;
	color: #fff;
	height: 50px;
	line-height: 50px;
	justify-content: center;
	padding: 0 15px;
	#title-logo {
		display: flex;
		flex: 1;
		align-items: center;
		justify-content: start;
		margin: 0;
		h3 {
			margin: 0 2px;
			font-weight: 400;
			font-size: 1.7rem;
		}
		img {
			display: block;
			margin: 0 2px;
			width: 30px;
			height: 30px;
		}
	}
	#nav-links {
		display: flex;
		flex: 1;
		justify-content: flex-end;
		ul {
			display: flex;
			padding: 0;
			i {
				margin-left: 5px;
			}
			li {
				list-style-type: none;
				padding: 0 15px;
				transition: all 0.5s;
				&:hover {
					background-color: darken($primary-blue, 10%);
					cursor: pointer;
				}
			}
			#links:hover {
				.dropdown {
					display: flex;
				}
			}
			.dropdown {
				display: none;
				position: absolute;
				flex-direction: column;
				box-shadow: $box-shadow;
				background-color: $primary-blue;
				color: #fff;
				transform: translateX(-15px);
				z-index: 100;
			}
		}
	}
}

section {
	position: relative;
	background-color: $light-gray;
	height: calc(100vh - 90px);
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.matrix {
	display: block;
	width: 85%;
	padding: 20px;
	margin: 40px auto 0 auto;
	box-shadow: $box-shadow;
	background-color: #fff;
}

// loader ////////////////////////////////////////////
.display-none {
	display: none;
}

.loader {
	text-align: center;
	color: $primary-blue;
	font-size: 3rem;
	i {
		margin-right: 8px;
	}
}

.rotate {
	animation: rotate 2s linear infinite both;
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

// matrix ////////////////////////////////////////////
.matrix-header {
	@include flexCenter();
	font-weight: 700;
	.field-name {
		border: none;
	}
	div:nth-child(8) {
		margin-right: 2%;
	}
}

.header-item {
	width: 7%;
	text-align: center;
	padding: 10px 0;
}

.criteria-header-item {
	width: 13%;
	height: 40px;
	text-align: center;
}

.matrix-row {
	height: 45px;
	@include flexCenter();
	div:nth-child(8) {
		margin-right: 2%;
	}
}

.matrix-row:nth-of-type(1) {
	@include flexCenter();
	div:nth-child(8) {
		margin-right: 2%;
	}
	.field-name {
		border-top: 1px solid $light-gray;
	}
}

.criteria-item {
	width: 13%;
	height: 100%;
	@include flexCenter();
}

.field-name {
	font-weight: 700;
	width: 20%;
	height: 100%;
	display: flex;
	align-items: center;
	border-bottom: 1px solid $light-gray;
}

.forecast-item {
	width: 7%;
	height: 100%;
	@include flexCenter();
}

// color classes for matrix //////////////////////////////
.green {
	background-color: $green;
	@include matrixBorder();
}

.yellow {
	background-color: $yellow;
	@include matrixBorder();
}

.red {
	background-color: $red;
	@include matrixBorder();
	color: #fff;
}

// Chart JS and Climo Page //////////////////////////////
#btns {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	button {
		color: $secondary-blue;
		font-size: 1.2rem;
		padding: 10px 15px;
		margin: 0 20px;
		border: 2px solid $secondary-blue;
		background-color: #fff;
		border-radius: 0.5rem;
		transition: all 0.5s;
		&:hover {
			cursor: pointer;
			background-color: $secondary-blue;
			color: #fff;
		}
		&:focus {
			outline: none;
		}
	}
	.active {
		background-color: $secondary-blue;
		border: 2px solid $secondary-blue;
		color: #fff;
	}
}

.chart {
	height: 85%;
	width: 85%;
	padding: 20px;
	margin: 20px auto;
	background-color: #fff;
	box-shadow: $box-shadow;
}

// Radar and Obs Page ///////////////////////////////
iframe {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: -1;
}

// TAFs Page ////////////////////////////////
.indent {
	margin-left: 25px;
}

#TAFs {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	margin: 20px;
}

.cardTAF {
	font-family: "Cutive Mono", monospace;
	margin: 20px;
	padding: 20px;
	background: #fff;
	box-shadow: $box-shadow;
	h2 {
		font-family: "Quicksand", sans-serif;
		font-weight: 400;
		margin-bottom: 10px;
		border-bottom: 1px solid $light-gray;
	}
	p {
		line-height: 1.2rem;
	}
}

// @media query //////////////////////////////
@media (min-width: $xl-screen-break) {
	.chart {
		width: 70%;
		height: 80%;
	}
	.matrix {
		width: 70%;
	}
}

@media (max-width: $l-screen-break) {
	.matrix {
		width: 100%;
	}
	.chart {
		width: 100%;
		height: 80%;
	}
}

@media (max-width: $md-screen-break) {
	body {
		font-size: percentage($number: 0.8);
	}
	.matrix {
		padding: 0;
	}
	nav #title-logo {
		h3 {
			font-size: 1.2rem;
		}
		img {
			width: 23px;
			height: 23px;
		}
	}
}
